@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: 'Consolas';
  src: local('Consolas');
}

html,
body {
  @apply bg-[#1e1e1e];
  @apply text-white;
}

.normalText {
  color: #ffffffb3;
}
.hiddenText {
  color: #ffffff69;
}
